@model HRM_PLUS_PROJECT.Models.Departamento

@{
    ViewData["Title"] = "Registrar Departamento";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Registrar Departamento</h5>
                </div>
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-4 pl-1">
                                <div class="form-group">
                                    <label asp-for="Nombre" class="control-label"></label>
                                    <input asp-for="Nombre" class="form-control" />
                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 pl-1">
                                <div class="form-group">
                                    <label asp-for="Descripcion" class="control-label"></label>
                                    <input asp-for="Descripcion" class="form-control" />
                                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 pl-1">
                                <div class="form-group">
                                    <label asp-for="UbicacionFisica" class="control-label"></label>
                                    <input asp-for="UbicacionFisica" class="form-control" />
                                    <span asp-validation-for="UbicacionFisica" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 pl-1">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="IsActivo" /> Activo
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="right-button">
                            <div class="form-group">
                                <input type="submit" value="Registrar" class="btn btn-primary" />
                                <a class="btn btn-outline-info" asp-action="Index">Volver</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}