@model HRM_PLUS_PROJECT.Models.Nomina

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Nomina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdNomina" />
            <div class="form-group">
                <label asp-for="IdEmpleado" class="control-label"></label>
                <select asp-for="IdEmpleado" class="form-control" asp-items="ViewBag.IdEmpleado"></select>
                <span asp-validation-for="IdEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDeduccion" class="control-label"></label>
                <select asp-for="IdDeduccion" class="form-control" asp-items="ViewBag.IdDeduccion"></select>
                <span asp-validation-for="IdDeduccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTransaccion" class="control-label"></label>
                <select asp-for="IdTransaccion" class="form-control" asp-items="ViewBag.IdTransaccion"></select>
                <span asp-validation-for="IdTransaccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
